.primary{

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;

    .primary__sidebar{
        width: 100%;
        background-color: #212529;
        color: #eee;
        position: relative;
        .active{
            height: auto;
        }
    }

    .primary__main{
        width: 100%;
    }

    .primary__toggle{
        position: absolute;
        left: calc(50% - 25px);
        bottom: 0;
    }

    @include media-breakpoint-up(md) {
        flex-direction: row;
        .primary__sidebar{
            flex: 0;
        }
        .primary__main{
            flex: 1;
            width: auto;
        }
    }

}
