
.sidebar{
    position: relative;
    .sidebar__content{
        position: relative;
        overflow: hidden;
        height: 20px;
    }
    .sidebar__toggle{
        position: absolute;
        left: calc(50% - 20px);
        bottom: -20px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    &.active{
        .sidebar__content{
            height: auto;
        }
    }
    @include media-breakpoint-up(md) {
        .sidebar__content{
            height: auto;
            width: 10px;
        }
        .sidebar__toggle{
            position: absolute;
            right: -20px;
            left: unset;
            bottom: calc(50% - 20px);
        }
        &.active{
            .sidebar__content{
                width: 210px;
            }
        }
    }
}
